<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">Hospital Billing Pricing Karnataka</a>
</nav>


<div class="container-fluid">

  <div class="container-fluid">
    <div class="jumbotron">
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <label>
            How many days were you at the hospital ?
          </label>
          <div class="input-group">
            <input type="text" class="form-control" type="number" min="1" [(ngModel)]="numberOfDaysAtHospital">
            <div class="input-group-append">
              <span class="input-group-text">Days</span>
            </div>
          </div>

        </div>
        <div class="col-md-6 offset-md-3 mt-2">
          <label for="inputState">Which type of bed:</label>
          <select id="inputState" class="form-control" name="bedType" [(ngModel)]="bedType">
            <option>
              General Bed
            </option>
            <option>
              HDU
            </option>
            <option>
              Isolation ICU without ventilator
            </option>
            <option>
              Isolation ICU with ventilator
            </option>
          </select>

          <button class="btn btn-primary mt-3 btn-block">
            Calculate
          </button>

        </div>

      </div>


    </div>
  </div>

  <div class="container-fluid" *ngIf="bedType && numberOfDaysAtHospital">
    <div class="jumbotron">

      <h1>
        At Private Hospitals:
      </h1>

      <h3>
        Pricing for {{bedType}} for {{numberOfDaysAtHospital}} Days :
      </h3>

      <table class="table table-dark m-2">
        <thead>
          <tr>
            <th scope="col">General Ward</th>
            <th scope="col">Twin Sharing</th>
            <th scope="col">Single Room</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              {{privateBedTypes[bedType] * numberOfDaysAtHospital | currency:"&#8377;" }}
            </td>
            <td>
              {{((10/100)*privateBedTypes[bedType] + privateBedTypes[bedType]) * numberOfDaysAtHospital | currency:"&#8377;" }}
            </td>
            <td>
              {{((25/100)*privateBedTypes[bedType] + privateBedTypes[bedType]) * numberOfDaysAtHospital | currency:"&#8377;"}}
            </td>
          </tr>
        </tbody>
      </table>


    </div>

    <div class="jumbotron">

      <h1>
        At Public Hospitals:
      </h1>

      <h3>
        Pricing for {{bedType}} for {{numberOfDaysAtHospital}} Days :
      </h3>

      <table class="table table-dark m-2">
        <thead>
          <tr>
            <th scope="col">General Ward</th>
            <th scope="col">Twin Sharing</th>
            <th scope="col">Single Room</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              {{publicBedTypes[bedType] * numberOfDaysAtHospital | currency:"&#8377;" }}
            </td>
            <td>
              {{((10/100)*publicBedTypes[bedType] + publicBedTypes[bedType]) * numberOfDaysAtHospital | currency:"&#8377;" }}
            </td>
            <td>
              {{((25/100)*publicBedTypes[bedType] + publicBedTypes[bedType]) * numberOfDaysAtHospital | currency:"&#8377;"}}
            </td>
          </tr>
        </tbody>
      </table>


    </div>

  </div>
</div>

<footer class="footer text-muted text-center">
  <div class="container">
    Terms and conditions

  </div>
</footer>
